<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Depression Analyzer</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Gender:</label>
        <select name="Gender" required>
            <option value=" ">Select</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br>
        <br>

        <label>Age:</label>
        <input type="number" name="Age" min="18" max="34" required>
        <br>
        <br>

        <label>Academic Pressure:</label>
        <label>(Please enter between 1 to 5)</label>
        <input type="number" name="Academic Pressure" min="1.0" max="5.0" required>
        <br>
        <br>

        <label>Study Satisfaction:</label>
        <label>(Please enter between 1 to 5)</label>
        <input type="number" name="Study Satisfaction" min="1.0" max="5.0" required>
        <br>
        <br>

        <label>Sleep Duration:</label>
        <select name="Sleep Duration" required>
            <option value=" ">Select</option>
            <option>Less than 5 hours</option>
            <option>5-6 hours</option>
            <option>7-8 hours</option>
            <option>More than 8 hours</option>
        </select>
        <br>
        <br>

        <label>Dietary Habits:</label>
        <select name="Dietary Habits" required>
            <option value=" ">Select</option>
            <option>Unhealthy</option>
            <option>Moderate</option>
            <option>Healthy</option>
        </select>
        <br>
        <br>

        <label>Have you recieved any suicidal thoughts?</label>
        <select name="Suicidal Thoughts Recieved" required>
            <option value=" ">Select</option>
            <option>No</option>
            <option>Yes</option>
        </select>
        <br>
        <br>

        <label>Study Hours:</label>
        <label>(Please enter between 0 to 12)</label>
        <input type="number" name="Study Hours" min="0" max="12" required>
        <br>
        <br>

        <label>Financial Stress:</label>
        <label>(Please enter between 1 to 5)</label>
        <input type="number" name="Financial Stress" min="1" max="5" required>
        <br>
        <br>

        <label>Do you have a family history of mental illness?</label>
        <select name="Family History of Mental Illness" required>
            <option value=" ">Select</option>
            <option>No</option>
            <option>Yes</option>
        </select>
        
        <button type="submit">Check Result</button>
    </form>
</body>
</html>
